# Ignore Visual Studio temporary files, build results, and folders
*.log
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.ipch
*.iobj
*.pch
*.tmp
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.VC.opendb
*.VC.db
*.vspx
*.vsp
*.vspf
*.map
*.natvis

# Ignore Visual Studio user-specific files
*.user
*.rsuser
*.suo
*.sln.docstates

# Ignore Visual Studio Code workspace files
.vscode/
*.code-workspace

# Ignore Visual Studio's .vs folder and ipch files
.vs/
*.ipch

# Ignore build folders
[Bb]in/
[Oo]bj/

# Ignore backup files and hidden files
*~
